In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('sales.csv', encoding='latin-1')

In [ ]:
df = df.head()

In [ ]:
df.isnull().sum()

In [20]:
# DATA CLEANING
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

df = df.drop_duplicates()

text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce')

df = df.drop(columns=['addressline2'])
df['state'] = df['state'].fillna('Unknown')
df['territory'] = df['territory'].fillna('Unknown')
df['postalcode'] = df['postalcode'].fillna('00000')

df = df.convert_dtypes()

In [23]:
df.shape

(2823, 24)

In [26]:
df['ordernumber'] = df['ordernumber'].astype(str)

In [34]:
df.groupby('ordernumber')['sales'].sum()

ordernumber
10100    12133.25
10101    11432.34
10102     6864.05
10103     54702.0
10104    44621.96
           ...
10421     7261.75
10422      6166.8
10423     8411.95
10424    35133.34
10425    43784.69
Name: sales, Length: 307, dtype: Float64

In [35]:
df.isnull().sum()

ordernumber         0
quantityordered     0
priceeach           0
orderlinenumber     0
sales               0
orderdate           0
status              0
qtr_id              0
month_id            0
year_id             0
productline         0
msrp                0
productcode         0
customername        0
phone               0
addressline1        0
city                0
state               0
postalcode          0
country             0
territory           0
contactlastname     0
contactfirstname    0
dealsize            0
dtype: int64

In [42]:
df['postalcode'].isna().sum()

np.int64(0)

In [47]:
df['state'] = df['state'].replace('nan', 'Unknown')

In [50]:
# DATA CLEANING
df['state'] = df['state'].replace('nan', 'Unknown')
df['postalcode'] = df['postalcode'].astype(str).str.replace(r"[^0-9]", '', regex=True)
df['postalcode'] = df['postalcode'].replace('', '00000')
df['postalcode'] = df['postalcode'].fillna('00000')
df['territory'] = df['territory'].fillna('Unknown')

In [53]:
df = df.drop('is_valid_postalcode', axis=1)

In [55]:
df

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,phone,addressline1,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize
0,10107,30,95.7,2,2871.0,2003-02-24,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,nan,Yu,Kwai,Small
1,10121,34,81.35,5,2765.9,2003-05-07,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.7,2003-08-25,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,nan,Young,Julie,Medium
4,10159,49,100.0,14,5205.27,2003-10-10,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,00000,USA,nan,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.0,15,2244.4,2004-12-02,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Unknown,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.0,1,3978.51,2005-01-31,Shipped,1,1,2005,...,981-443655,Torikatu 38,Oulu,Unknown,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.0,4,5417.57,2005-03-01,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Unknown,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,2005-03-28,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,Toulouse,Unknown,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,2005-05-06,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,nan,Yoshido,Juri,Medium

In [57]:
df.dtypes

ordernumber                 object
quantityordered              Int64
priceeach                  Float64
orderlinenumber              Int64
sales                      Float64
orderdate           datetime64[ns]
status              string[python]
qtr_id                       Int64
month_id                     Int64
year_id                      Int64
productline         string[python]
msrp                         Int64
productcode         string[python]
customername        string[python]
phone               string[python]
addressline1        string[python]
city                string[python]
state               string[python]
postalcode                  object
country             string[python]
territory           string[python]
contactlastname     string[python]
contactfirstname    string[python]
dealsize            string[python]
dtype: object

In [58]:
# dowloading the cleaned dataset
from google.colab import files
df.to_csv('new_cleaned_sales.csv', encoding='utf-8', index=False)
files.download('new_cleaned_sales.csv')

In [61]:
df.describe()

,quantityordered,priceeach,orderlinenumber,sales,orderdate,qtr_id,month_id,year_id,msrp
count,2823.0,2823.0,2823.0,2823.0,2823,2823.0,2823.0,2823.0,2823.0
mean,35.092809,83.658544,6.466171,3553.889072,2004-05-11 00:16:49.989373056,2.717676,7.092455,2003.81509,100.715551
min,6.0,26.88,1.0,482.13,2003-01-06 00:00:00,1.0,1.0,2003.0,33.0
25%,27.0,68.86,3.0,2203.43,2003-11-06 12:00:00,2.0,4.0,2003.0,68.0
50%,35.0,95.7,6.0,3184.8,2004-06-15 00:00:00,3.0,8.0,2004.0,99.0
75%,43.0,100.0,9.0,4508.0,2004-11-17 12:00:00,4.0,11.0,2004.0,124.0
max,97.0,100.0,18.0,14082.8,2005-05-31 00:00:00,4.0,12.0,2005.0,214.0
std,9.741443,20.174277,4.225841,1841.865106,NaN,1.203878,3.656633,0.69967,40.187912